@charset "utf-8";

@font-face {
    font-family: 'HSBombaram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* #365902 #728C11 #A65F21 #F2BC8D #F2F2F2 */

/* tag reset */
body, ul, h1, h2, h3, h4, h5, h6, p, a, input[type="text"],button{margin: 0;padding: 0px;}
ul{list-style: none;}
h1, h2, h3, h4, h5, h6{font-size: inherit; font-family: 'HSBombaram';font-weight: inherit;}
a:link, a:visited, a:hover, a:active{color: inherit; text-decoration: none;}
button{font-size: inherit; border: none; background: none; cursor: pointer;}
address{font-family: inherit; font-style: normal;}
input{border: none;}
img{border: none; vertical-align: top;}

/* common class */
.blind{width: 1px; height: 1px; overflow: hidden; border: none; position: absolute; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
.d_f{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.f_l{float: left;}
.f_r{float: right;}
.clearfix::after{content: ""; display: block; clear: both;}
#skip a{position: fixed; top: 0; left: -9999px; z-index: 1000;}
#skip a:focus{left: 0; width: 100%; height: 60px; line-height: 60px; font-size: 18px; font-weight: 500; background: #365902; color: #f2f2f2; text-align: center;}

/* common layout */
body{font-family:  "애플 SD 고딕 Neo", "Apple SD Gothic Neo", "Noto Sans KR", "맑은 고딕", "Malgun Gothic"; font-size: 16px; font-weight: 400; color: #101010;}
#wrap{width: 100%;background: #F2F2F2;}
#wrap.dark, #wrap.dark .gnb_wrap.on .white_bg,#wrap.dark #gnb{background: #202020; color: #F2F2F2;}
#wrap.dark #footer, #wrap.dark #mFooter{background: #202020;}
#wrap.dark #footer ul > li:not(:last-of-type)::after{background: #F2F2F2;}
#wrap.dark .search input{border-color: #F2F2F2; background: #202020; color: #F2F2F2;}
#wrap.dark #header .gnb_wrap.on .nav_btm_sns .sns1{background-image: url("../images/sns/facebook_color.png");}
#wrap.dark #header .gnb_wrap.on .nav_btm_sns .sns2{background-image: url("../images/sns/instagram_color.png");}
#wrap.dark #header .gnb_wrap.on .nav_btm_sns .sns3{background-image: url("../images/sns/twitch_color.png");}
#wrap.dark #header .gnb_wrap.on .nav_btm_sns .sns4{background-image: url("../images/sns/youtube_color.png");}
#wrap.dark #header .gnb_wrap.on .menu_close_btn{background-image: url("../images/button/cancel_white.png");}

/* #header */
#header{position: fixed; top: 0; right: 0; width: 100%; height: 80px; z-index: 999;}
#header.on{background: #F2F2F2; box-shadow: 0 1px 10px 1px #000;}
#header .logo{position: absolute; top: 0; left: calc(50% - 200px); width: 400px; height: 80px; background: url("../images/logo/logo2_white.png") no-repeat center; background-size: cover;}
#header.on .logo{background-image: url("../images/logo/logo2.png");}
#header .logo a{display: block; width: 100%; height: 100%;}
#header .util{position: relative; width: 100%; height: 100%;}
#header .util .menu_open_btn{position: absolute; top: calc(50% - 15px); right: 30px; width: 30px; height: 30px; background: url("../images/button/menu_white.png") no-repeat center; background-size: cover;}
#header.on .util .menu_open_btn{background-image: url("../images/button/menu.png");}
#header .gnb_wrap{display: none;}
#header .gnb_wrap.on{display: block;position: fixed; right: 0; top: 0; width: 700px; height: 100%;}
#header .gnb_wrap.on h2{display: block; position: absolute; top: 0; left: calc(50% - 200px);}
#header .gnb_wrap.on .gnb_logo img{width: 400px; height: 80px;}

#header .gnb_wrap.on .menu_close_btn{position: absolute; top: 20px; right: 30px; width: 30px; height: 30px; background: url("../images/button/cancel.png") no-repeat center / cover;}
.gnb_wrap.on .dark_bg{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #2020206e; z-index: -11;}
.gnb_wrap.on .white_bg{position: fixed; right: 0; top: 0; width: 700px; height: 100%; background: #f2f2f2; box-shadow: -1px 0 10px #202020; z-index: -10;}
.search{position: relative; width: 650px; height: 50px; margin: 100px 25px 30px;}
.search label{position: absolute; top: 15px; left: 20px;font-size: 24px;}
.search input{width: 100%; height: 100%; border: 3px solid #47621e; border-radius: 5px; font-size: 24px;}
.search a{position: absolute; top: 8px; right: 20px; width: 40px; height: 40px;}
.search a img{width: 40px; height: 40px;}

.gnb_wrap.on #gnb ul{justify-content: space-around;}
/* .gnb_wrap.on #gnb > ul > li:nth-child(even){margin-left: 50px;} */
.gnb_wrap.on #gnb > ul > li > a{font-size: 28px; font-weight: 600;}
.gnb_wrap.on #gnb > ul > li:hover > a,.gnb_wrap.on #gnb > ul > li > a:focus{position: relative; color: #728C11;}
.gnb_wrap.on #gnb > ul > li:hover > a::after,.gnb_wrap.on #gnb > ul > li > a:focus::after{content: ""; position: absolute; top: 0px; right: -5px; width: 6px; height: 6px; border-radius: 3px; background: #728C11;}
.gnb_wrap.on #gnb ul li ul li{padding-top: 10px;}
.gnb_wrap.on #gnb ul li ul li a{font-size: 18px; font-weight: 500;}
.gnb_wrap.on #gnb ul li ul li:hover a, .gnb_wrap.on #gnb ul li ul li a:focus{color: #365902; position: relative;}
.gnb_wrap.on #gnb ul li ul li:hover a::after, .gnb_wrap.on #gnb ul li ul li a:focus::after{content: ""; position: absolute; top: calc(50% - 7px); right: -25px; width: 15px; height: 15px; background: url("../images/icon/biodegradable.png") no-repeat center / cover; }

.gnb_wrap.on .menu_photo{position: absolute; top: 60%; right: calc(50% - 315px); width: 630px;height: 200px; background: url("../images/furniture/furniture12.jpg") no-repeat center / cover; border-radius: 40px;}

#header .gnb_wrap.on .nav_btm_sns .sns{width: 60px; height: 60px; background: no-repeat center; background-size: cover; position: absolute; bottom: 20px;}
#header .gnb_wrap.on .nav_btm_sns p{position: absolute; bottom: 80px; font-size: 24px; right: 20px;}
#header .gnb_wrap.on .nav_btm_sns .sns1{background-image: url("../images/sns/facebook_black.png");right: 260px;}
#header .gnb_wrap.on .nav_btm_sns .sns2{background-image: url("../images/sns/instagram_black.png");right: 180px;}
#header .gnb_wrap.on .nav_btm_sns .sns3{background-image: url("../images/sns/twitch_black.png"); right: 100px;}
#header .gnb_wrap.on .nav_btm_sns .sns4{background-image: url("../images/sns/youtube_black.png"); right: 20px;}
#header .gnb_wrap.on .nav_btm_sns .sns1:hover{background-image: url("../images/sns/facebook_color.png");}
#header .gnb_wrap.on .nav_btm_sns .sns2:hover{background-image: url("../images/sns/instagram_color.png");}
#header .gnb_wrap.on .nav_btm_sns .sns3:hover{background-image: url("../images/sns/twitch_color.png");}
#header .gnb_wrap.on .nav_btm_sns .sns4:hover{background-image: url("../images/sns/youtube_color.png");}

/* #footer */
#mFooter{display: none;}
#footer{position: relative; width: 100%; height: 400px; background: #728C11; text-align: center; color: #F2BC8D;}
#footer .f_wrap{width: 100%; margin: 0 auto; line-height: 1.4;}
#footer .com_name{padding-top: 50px; font-size: 36px; font-weight: 700;letter-spacing: 1.5;}
#footer address{padding-top: 30px;}
#footer .copy{padding: 20px 0;}
#footer ul{justify-content: center;}
#footer ul > li{position: relative; margin-right: 30px;}
#footer ul > li:not(:last-of-type)::after{content: ""; position: absolute; top: 5px; right: -15px; width: 2px; height: 16px; background: #F2BC8D;}

/* btn */
#modeBtn *{position: fixed; bottom: 30px; box-shadow: 0.2px 0.1px 3px 0.1px #404040; border-radius: 12px; z-index: 800;}
#modeBtn .top_btn{right: 60px; width: 45px; height: 45px; background: url("../images/button/top_black.png") no-repeat center / cover; display: none;}
#modeBtn .top_btn:hover, #modeBtn .top_btn:focus{background-image: url("../images/button/top_color.png");}
#modeBtn .dark_btn, #modeBtn .light_btn{right: 10px; width: 45px; height: 45px;background: no-repeat center / cover;}
#modeBtn .dark_btn{background-image: url("../images/button/darkmode_black.png");}
#modeBtn .dark_btn:hover, #modeBtn .dark_btn:focus{background-image: url("../images/button/darkmode_color.png");}
#modeBtn .light_btn{background-image: url("../images/button/lightmode_black.png"); display: none; }
#modeBtn .light_btn:hover, #modeBtn .light_btn:focus{background-image: url("../images/button/lightmode_color.png");}

@media screen and (max-width: 1080px) {
    /* #header */
#header{position: fixed; width: 100%; height: 80px; z-index: 999;}
#header.on{background: #f2f2f2; box-shadow: 0 1px 10px 1px #202020;}
#header .logo{position: absolute; top: 10px; left: calc(50% - 150px); width: 300px; height: 60px; background: url("../images/logo/logo2_white.png") no-repeat center; background-size: contain;}
#header .logo a{display: block; width: 100%; height: 100%;}
#header .util{display: block; width: 100%; height: 100%;}
#header .util .menu_open_btn{position: absolute; top: calc(50% - 20px); right: 30px; width: 30px; height: 30px; background: url("../images/button/menu_white.png") no-repeat center; background-size: cover;}
#header .gnb_wrap{display: none;}
#header .gnb_wrap.on{display: block; position: fixed; right: 0; top: 0; width: 100%; height: 100%;}
#header .gnb_wrap.on h2{display: block; position: absolute; top: 10px; left: calc(50% - 150px);}
#header .gnb_wrap.on .gnb_logo img{width: 300px; height: 60px;}

#header .gnb_wrap.on .menu_close_btn{position: absolute; top: 20px; right: 30px; width: 40px; height: 40px; background: url("../images/button/cancel.png") no-repeat center / cover;}
.gnb_wrap.on .white_bg{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #f2f2f2; box-shadow: -1px 0 10px #202020; z-index: -10;}
.search{position: relative; width:90%; height: 60px;}
.search label{position: absolute; top: 15px; left: 20px;font-size: 24px;}
.search input{width: 100%; height: 100%; border: 3px solid #47621e; border-radius: 5px; }
.search a{position: absolute; top: 8px; right: 20px; width: 40px; height: 40px;}
.search a img{width: 40px; height: 40px; line-height: 60px;}
.gnb_wrap.on #gnb{width: 100%;}
.gnb_wrap.on #gnb ul{width: 100%; justify-content: space-around;}
/* .gnb_wrap.on #gnb > ul > li:nth-child(even){margin-left: 50px;} */
.gnb_wrap.on #gnb > ul > li > a{font-size: 28px; font-weight: 600;}
.gnb_wrap.on #gnb ul li ul li a{font-size: 18px; font-weight: 500;}

.gnb_wrap.on .menu_photo{position: absolute; top: 550px; right: 50%; transform: translateX(50%); width: 80%; height: 200px; background: url("../images/furniture/furniture12.jpg") no-repeat center / cover; border-radius: 40px;}

#header .gnb_wrap.on .nav_btm_sns .sns{width: 60px; height: 60px; background: no-repeat center; background-size: cover; position: absolute; bottom: 20px;}
#header .gnb_wrap.on .nav_btm_sns p{position: absolute; bottom: 80px; font-size: 24px; right: 20px;}
#header .gnb_wrap.on .nav_btm_sns .sns1{background-image: url("../images/sns/facebook_color.png");}
#header .gnb_wrap.on .nav_btm_sns .sns2{background-image: url("../images/sns/instagram_color.png");}
#header .gnb_wrap.on .nav_btm_sns .sns3{background-image: url("../images/sns/twitch_color.png");}
#header .gnb_wrap.on .nav_btm_sns .sns4{background-image: url("../images/sns/youtube_color.png");}
}

@media screen and (max-width: 770px) {
    #header .logo{position: absolute; top: 20px; left: 50%; transform: translateX(-50%); width: 200px; height: 40px; background: url("../images/logo/logo2_white.png") no-repeat center; background-size: contain;}
    #header .logo a{display: block; width: 100%; height: 100%;}
    #header .util .menu_open_btn{position: absolute; top: calc(50% - 13px); right: 30px; width: 26px; height: 26px; background: url("../images/button/menu_white.png") no-repeat center; background-size: cover;}
    #header .gnb_wrap{display: none;}
    #header .gnb_wrap.on{display: block;position: fixed; right: 0; top: 0; width: 100%; height: 100%;}
    #header .gnb_wrap.on h2{display: block; position: absolute; top: 15px; left: calc(50% - 100px);}
    #header .gnb_wrap.on .gnb_logo img{width: 200px; height: 40px;}
    #header .gnb_wrap.on .menu_close_btn{position: absolute; top: 23px; right: 30px; width: 26px; height: 26px; background: url("../images/button/cancel.png") no-repeat center / cover;}
    .gnb_wrap.on .dark_bg{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #2020206e; z-index: -11;}
    .gnb_wrap.on .white_bg{position: fixed; right: 0; top: 0; width: 700px; height: 100%; background: #f2f2f2;}
    .search{position: relative; width: 90%; height: 50px; margin: 80px 25px 30px;}
    .search label{position: absolute; top: 8px; left: 20px; font-size: 24px;}
    .search input{width: 100%; height: 100%; border: 2px solid #728C11; font-size: 24px; border-radius: 5px; background: #f2f2f2;}
    .search a{position: absolute; top: 8px; right: 5px; width: 40px; height: 40px;}
    .search a img{width: 40px; height: 40px;}
    .gnb_wrap.on .menu_photo{display: none;} 

    #gnb{position: fixed;top: 135px;left: 0;width: 100%;height: 100%;overflow-y: auto;background: #f2f2f2;color: #202020;}
    #gnb > ul{flex-direction: column;padding-top: 20px;}
    #gnb a{display: block;height: 35px;line-height: 35px;}
    #gnb > ul > li > a{position: relative;padding: 15px 40px;font-size: 18px;font-weight: 500;}
    #gnb > ul > li> a::before, #gnb > ul > li > a::after{content: "";position: absolute;right: 40px;top: 50%;width: 12px;height: 2px;background: #202020;}
    #gnb > ul > li > a::after{transform: rotate(90deg);transition: transform 0.5s;}
    #gnb > ul > li.on > a::after{transform: rotate(0deg);}
    #gnb ul li ul{visibility: hidden;overflow: hidden;max-height: 0;}
    .gnb_wrap.on #gnb ul li ul li{padding-top: 0;}
    #gnb ul li ul li a{padding: 5px 40px;background: #728C11; color: #f2f2f2;} 
    #gnb ul li ul li a:hover, #gnb ul li ul li a:focus{color: #F2BC8D !important; text-decoration: none;} 
    .gnb_wrap.on #gnb > ul > li:hover > a::after,.gnb_wrap.on #gnb > ul > li > a:focus::after{visibility: hidden;}
    .gnb_wrap.on #gnb ul li ul li:hover a::after, .gnb_wrap.on #gnb ul li ul li a:focus::after{visibility: hidden;}
    
    #header .gnb_wrap.on .nav_btm_sns .sns{width: 60px; height: 60px; background: no-repeat center; background-size: cover;}
    #header .gnb_wrap.on .nav_btm_sns p{font-size: 24px; color: #202020;}
    #header .gnb_wrap.on .nav_btm_sns .sns1{background-image: url("../images/sns/facebook_color.png");}
    #header .gnb_wrap.on .nav_btm_sns .sns2{background-image: url("../images/sns/instagram_color.png");}
    #header .gnb_wrap.on .nav_btm_sns .sns3{background-image: url("../images/sns/twitch_color.png");}
    #header .gnb_wrap.on .nav_btm_sns .sns4{background-image: url("../images/sns/youtube_color.png");}
    
    /* #footer */
    #footer{display: none;}
    #mFooter{display: block; width: 100%; height: 700px; background: #728C11; text-align: center; color: #f2bc8d;}
    #mFooter .com_name{padding-top: 50px; font-size: 32px; font-weight: 700; letter-spacing: 1.5;}
    #mFooter address{padding-top: 30px;}
    #mFooter .copy{padding: 20px 0;}
    #mFooter ul.d_f{width: 80%; margin: 0 auto; flex-wrap: wrap;justify-content: center; font-weight: 600; line-height: 1.5;}
    #mFooter ul.d_f > li{width: 150px;}
}