@charset "utf-8";

/* header */
#header #slide{display: block; width: 100vw; height: 100vh;}

/* acdn */
#mainAcdn {position: relative; margin: 80px 120px;}
#mainAcdn .acdn_wrap{width: 140px; height: 650px; background: no-repeat; background-size: cover; background-color: #aaa;}
#mainAcdn .acdn_wrap.active{width: 1200px; background: no-repeat; background-size: cover;background-color: #aaa;}
#mainAcdn .acdnpanel{position: absolute;}
#acdnPanel1{top: 0;left: 0;}
#acdnPanel2{top: 0;left: 160px;}
#acdnPanel3{top: 0;left: 320px;}
#acdnPanel4{top: 0;right: 0;}


/* fSizeGreen */
#fSizeGreen{position: relative; width: 100%; height: 600px; background: url("../images/03_fSize-greenery/greenary05.jpg") no-repeat center; background-size: cover; color: #fff;}
#fSizeGreen *{position: absolute;}
#fSizeGreen .bg{top: 50px; left: 775px; width: 300px; height: 500px; background: rgba(0, 0, 0, 0.3); border-radius: 20px;}
#fSizeGreen h2{top: 100px; left: calc(50% - 50px); font-size: 60px;}
#fSizeGreen span{top: 100px; right: 38%; font-size: 40px;}
#fSizeGreen p{top: 200px; left: calc(50% - 50px); font-size: 24px;}
#fSizeGreen a{bottom: 100px; left: calc(50% - 50px); font-size: 24px;}

/* gallery */

/* fSizeYouth */
#fSizeYouth{position: relative; width: 100%; height: 600px; background: url("../images/05_fSize-2030/for2030_2.jpg") no-repeat fixed center; background-size: cover;}

/* info */
#info{margin: 80px 120px; justify-content: space-between; text-align: center; color: #fff;}
#info .select{width: 480px; height: 480px; background: no-repeat center; background-size: cover;}
#info .select h3{position: relative; font-size: 24px; line-height: 200px;}
#info .select h3::after{content: ""; position: absolute; bottom: -20px; left: calc(50% - 150px); width: 300px; height: 5px; background: #fff;}
#info .select.wwfp{background-image: url("../images/greenary/greenary06.jpg");}
#info .select.recruit{background-image: url("../images/company/company04.jpg");}
#info .select.members{background-image: url("../images/greenary/greenary02.jpg");}
#info p{padding-top: 50px;}
